{% extends 'base.html' %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Support bot vereenvoudigd</h1>
        <p class="lead">KennisBank is een online kennisbank op Discord. Vul je vragen en antwoorden op de site in en laat de bot in Discord antwoorden.</p>
        <hr class="my-4">
        <p>Begin nu! Log hieronder in.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/auth/login/" role="button">Log in</a>
        </p>
    </div>
{% endblock content %}