{% extends 'base.html' %}

{% block title %}
    Uitleg
{% endblock title %}

{% block content %}
    <h1>Werking</h1>
    <p>De support bot werkt zo: je logt in op deze site, stelt de vragen en hulpkanalen in en je invite de bot. Zo simpel is het!</p>
    <h1>Vragen</h1>
    <p>
        Vragen zijn heel simpel, maar moeten wel goed uitgevoerd worden.
        Vul bij 'vraag' de vraag in die de klant stelt, dus bijvoorbeeld 'Hoe heet Jens?'.
        Bij antwoord vul je jouw (uitgebreide) antwoord op de vraag in, dit kan dus bijvoorbeeld zijn: 'Jens heet gewoon Jens'.
        Bij tags kan je alle zoekwoorden voor jouw vraag invullen. Dit kan bij 'Hoe heet Jens?' bijvoorbeeld 'naam', 'jens', 'heet', 'noem' enz zijn. Zet deze tags onder elkaar.
    </p>
    <h1>Kanalen</h1>
    <p>
        Kanalen zijn de kanalen waar de bot in mag antwoorden. Je moet het kanaal-ID invullen.
    </p>
{% endblock content %}